# Name: Pranav Kathar

# Bharat Intern Task 2 Titanic Classification

# Objective Make a system which tells whether the person will be save from sinking. What factors were most likely lead to success-socio-economic status, age, gender and more.

In [30]:
#import libraries

In [31]:
from pandas import Series, DataFrame
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data Preparation

In [32]:
# Load Titanic dataset
titanic_df = sns.load_dataset('titanic')

In [33]:
 # Showing first top 10 rows of dataset
titanic_df.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [34]:
# Checking the number of rows(observations) and colmumns(variables)
titanic_df.shape

(891, 15)

In [35]:
# get overall info for the dataset 
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

# Split the Data

In [36]:
# Handle missing values (e.g., fill missing age values with the median)
titanic_df['age'].fillna(titanic_df['age'].median(), inplace=True)

# Encode categorical variables (e.g., convert 'sex' and 'class' to numerical values)
titanic_df['sex'] = titanic_df['sex'].map({'female': 0, 'male': 1})
titanic_df = pd.get_dummies(titanic_df, columns=['class'], drop_first=True)

# Feature Selection

In [37]:
features = ['age', 'sex', 'fare', 'sibsp', 'parch', 'class_Second', 'class_Third']
X = titanic_df[features]
y = titanic_df['survived']

In [38]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Build a Classification Model

In [39]:
from sklearn.ensemble import RandomForestClassifier

# Initialize the model
model = RandomForestClassifier(random_state=42)

# Train the model on the training data
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

# Evaluate the Model

In [40]:
from sklearn.metrics import accuracy_score, classification_report

# Make predictions on the test data
y_pred = model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

# Generate a classification report
print(classification_report(y_test, y_pred))

Accuracy: 0.80
              precision    recall  f1-score   support

           0       0.82      0.86      0.84       105
           1       0.78      0.73      0.76        74

    accuracy                           0.80       179
   macro avg       0.80      0.79      0.80       179
weighted avg       0.80      0.80      0.80       179

# Use the Model for Predictions

In [41]:
# Example prediction for a new passenger
new_passenger = [[25, 1, 50, 0, 1, 0, 1]]  # Age, Sex (1 for male), Fare, SibSp, Parch, Class (Second and Third)
prediction = model.predict(new_passenger)
if prediction[0] == 1:
    print("The person is likely to survive.")
else:
    print("The person is unlikely to survive.")

The person is unlikely to survive.

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

# Conclsion:

Our complete analysis mainly covered three factors in this anlysis (Age, Sex, Pclass).

Age: Doesn't play much role in determining the survival chances, except for ages below 1 years.

Sex: Women had better chances of survival than men.
In general, Women & children across all classes had higer survival rates than men.

Pclass: Pclass-1 had best while Pclass-3 has the worst survival rate.

So we can say, that being a women in Pclass-1 seems to have the best chances of survival. However being a child or woman could not be considered as 100% survival chance.

# Done!